.wrapper__errmes, .wrapper, .chat-wrapper__message-in, .chat-wrapper__message-from, .chat-wrapper__in-editor, .chat-wrapper__errmes, .basic-wrapper__errmes {
  font-family: Cairo;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.app {
  height: 100vh;
  width: 100vw;
}

html {
  overflow-x: hidden;
}

.wrapper__errmes {
  font-size: 10px;
  color: red;
  display: block;
}

.wrapper__errmes-hiddenerr {
  display: none;
}

.wrapper {
  margin: auto;
  top: 20%;
  left: 35%;
  position: absolute;
  background: #F4FEFE;
  width: 400px;
  height: 500px;
  font-size: 14px;
}

.wrapper__row {
  font-family: Cairo;
  font-size: 14px;
  line-height: 50px;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  background: #F4FEFE;
}

.basic-wrapper {
  width: 100%;
  height: 100%;
  background-color: #F4FEFE;
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.basic-wrapper__item {
  position: relative;
  display: block;
  line-height: 15px;
}

.basic-wrapper__line {
  font-size: 24px;
}

.href {
  font-size: 18px;
}

.round {
  border-radius: 80px;
  border: 1px solid grey;
}

.wrapper__errmes, .wrapper, .chat-wrapper__message-in, .chat-wrapper__message-from, .chat-wrapper__in-editor, .chat-wrapper__errmes, .basic-wrapper__errmes {
  text-align: center;
  font-family: Cairo;
  font-weight: normal;
}

.chat-wrapper__left-part {
  width: 20vw;
  height: 100vh;
  background: #F4FEFE;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
  border-right: 1px solid #CAF0EE;
}

.chat-wrapper__chat {
  width: 80vw;
  height: 100vh;
  background-image: url("../../../data/img/background.png");
  background-size: 100% 100%;
  mix-blend-mode: screen;
  z-index: 5;
}

.chat-wrapper__contacts {
  width: 20vw;
  height: 80vh;
  background-color: #F4FEFE;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 5;
}

.chat-wrapper__white-pianokey {
  width: 99%;
  height: 52px;
  background: white;
  border-radius: 5px;
  vertical-align: top;
  border: 1px solid #F4FEFE;
  z-index: 3;
}

.chat-wrapper__black-pianokey {
  margin-top: 4px;
  width: 10%;
  height: 31px;
  background: #0B3C4B;
  border-radius: 5px;
  z-index: 9999;
  position: absolute;
}

.chat-wrapper__logo {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  height: 70%;
  width: 100%;
  margin: 0 auto;
}

.chat-wrapper__search-field {
  border-color: #CAF0EE;
  text-align: center;
}

.chat-wrapper__contact {
  margin-top: 15px;
  text-align: left;
  vertical-align: middle;
  position: relative;
  width: 90%;
}

.chat-wrapper__count-mes {
  text-align: right;
  color: #CAF0EE;
  margin-right: 10px;
  margin-top: 15px;
  width: 10%;
  position: relative;
}

.chat-wrapper__message-in {
  text-align: left;
  font-size: 20px;
  line-height: 20px;
  color: black;
  position: relative;
  width: 50%;
  height: 39px;
  background: rgba(196, 196, 196, 0.13);
  border-radius: 10px;
}

.chat-wrapper__message-from {
  margin-left: 50%;
  text-align: right;
  font-size: 20px;
  line-height: 20px;
  color: black;
  position: relative;
  width: 50%;
  height: 39px;
  background: rgba(196, 196, 196, 0.13);
  border-radius: 10px;
}

.chat-wrapper__messages {
  margin-left: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 60px;
  height: 90vh;
}

.chat-wrapper__time-mes {
  font-size: 12px;
}

.chat-wrapper__date-mes {
  color: black;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

.chat-wrapper__row-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: middle;
}

.chat-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 5;
  background-color: #CAF0EE;
}

.chat-wrapper__search {
  width: 100%;
  height: 20%;
  background-color: #F4FEFE;
  position: relative;
  z-index: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: block;
          flex-direction: block;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #CAF0EE;
}

.chat-wrapper__mes-editor {
  position: relative;
  width: 100%;
  height: 50px;
  padding-top: 450px;
  padding-bottom: 10px;
  background: rgba(196, 196, 196, 0.36);
  border-radius: 10px;
}

.chat-wrapper__in-editor {
  height: 50px;
  width: 78vw;
  height: 50px;
  vertical-align: bottom;
  border-radius: 10px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
}

.chat-wrapper__errmes {
  color: red;
  display: block;
}

.chat-wrapper__errmes-hiddenerr {
  display: none;
}

.chat-wrapper__white-pianokey-pressed {
  background: silver;
}

.wrapper__errmes, .wrapper, .chat-wrapper__message-in, .chat-wrapper__message-from, .chat-wrapper__in-editor, .chat-wrapper__errmes, .basic-wrapper__errmes {
  text-align: center;
  font-family: Cairo;
  font-weight: normal;
}

.basic-wrapper__leftitem {
  text-align: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.basic-wrapper__rightitem {
  text-align: right;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.basic-wrapper__itemrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.basic-wrapper__setting {
  position: absolute;
  width: 173px;
  height: 14px;
  left: 250px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: right;
  background-color: #F4FEFE;
  display: inline;
  border: none;
}

.basic-wrapper__settings {
  width: 440px;
}

.basic-wrapper__line {
  position: absolute;
  width: 100%;
  height: 1px;
  background: lightslategrey;
  display: block;
}

.basic-wrapper__errmes {
  color: red;
  display: block;
}

.basic-wrapper__errmes-hiddenerr {
  display: none;
}

.wrapper__no-accaunt {
  padding-top: 90px;
  margin-left: 40%;
  width: 100px;
  height: 20px;
  line-height: 20px;
  color: #60CBD1;
}

.my-button {
  margin-top: 70px;
  margin-left: -100px;
  position: absolute;
  width: 226px;
  height: 28px;
  background: #60CBD1;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */