.error {
    width: 100%;
    height: 100%;
    background-color: #F4FEFE;
    vertical-align: middle;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.erritem {
    text-align: center;
    position: relative;
    display: block;
    line-height: 15px;
}

.errline {
    font-size: 24px;
}

.errhref {
    font-size: 18px;
}