.noAccaunt {
    position: relative;
    padding-top: 100px;
    margin-left: 40%;
    text-align: center;
    width: 100px;
    height: 20px;
    font-family: Cairo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #60CBD1;
}